In [1]:
import pandas as pd
from pandas.tseries.holiday import(
    Holiday,
    USMemorialDay,
    AbstractHolidayCalendar,
    Easter,
    sunday_to_monday,
    Day
)
from pandas.tseries.offsets import CustomBusinessDay
from datetime import datetime

In [2]:
class IbexBusinessCalendar(pd.tseries.holiday.AbstractHolidayCalendar):
    # If a bank holiday is on a Sunday, each Autonomous Comunity can change it to Monday.
    rules=[
        Holiday('Año Nuevo', month=1, day=1, observance=sunday_to_monday),
        Holiday('Epifanía del Señor', month=1, day=6, observance=sunday_to_monday),
        Holiday('Viernes Santo', month=1, day=1, offset=[Easter(), Day(-2)]),
        Holiday('Día Internacional de los Trabajadores', month=5, day=1, observance=sunday_to_monday),
        Holiday('Asunción de la Santísima Virgen María', month=8, day=15, observance=sunday_to_monday),
        Holiday('Día de la Hispanidad', month=10, day=12, observance=sunday_to_monday),
        Holiday('Todos los Santos', month=11, day=1, observance=sunday_to_monday),
        Holiday('Día Constitución', month=12, day=6, observance=sunday_to_monday),
        Holiday('Navidad', month=12, day=25, observance=sunday_to_monday),
    ]

In [3]:
date_range = pd.date_range(start='2024-01-01', end='2024-12-31')
df = pd.DataFrame(date_range, columns=['Date'])
calendar = IbexBusinessCalendar()
holidays = calendar.holidays(start=date_range.min(), end=date_range.max())
df = df.assign(Holiday=lambda df: df.Date.isin(holidays).astype(int))

In [4]:
holiday_dates = df[df['Holiday'] == 1]
holiday_dates.head(25)

          Date  Holiday
0   2024-01-01        1
5   2024-01-06        1
88  2024-03-29        1
121 2024-05-01        1
227 2024-08-15        1
285 2024-10-12        1
305 2024-11-01        1
340 2024-12-06        1
359 2024-12-25        1

In [5]:
df

          Date  Holiday
0   2024-01-01        1
1   2024-01-02        0
2   2024-01-03        0
3   2024-01-04        0
4   2024-01-05        0
..         ...      ...
361 2024-12-27        0
362 2024-12-28        0
363 2024-12-29        0
364 2024-12-30        0
365 2024-12-31        0

[366 rows x 2 columns]